body{
        overflow-x: hidden;
    max-width: 100%;
    overflow-x: hidden;
  background-size: cover;
    z-index: -1;
  padding: 0;
  margin: 0;
      margin:0 auto;
    max-height: 99px;
}
/*d22b2b for red alt text*/

.FirstPage{
    width: 100%;
    height: 750px;
    background: url('img/city.jpg') center center no-repeat;
    background-size: 110%;
    margin: 0px 0px 0px 0px;
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;

}


.ShopTPAB {
    width: 100%;
    height: 800px;
    position: relative;
          background: url('img/designer.jpg') center center no-repeat;
    background-size:cover;
    box-shadow:inset -5px 4px 19px 0px black;




}

.TPAB{
    width: 100%;
    height: 600px;
    margin: 0px 0px 0px 0px;


}

#TPABTEXT{
    width: 63%;
    height: auto;
    padding: 50px;
    border-radius: 180px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 30%;
    position: center; 
    right: 29%;
    background-color: #093871;
    opacity: .9;
}

.textman{
    font-size: 23px;
    font-family: 'Dosis', sans-serif;
    color: #aba5a9;
     font-weight:900;  


}

#ShopUU {
    width: 100%;
    height: 800px;
     background: url('img/drawoad.jpg') center center no-repeat;
    background-size:cover;  
      position: relative;
          box-shadow:inset -5px 4px 19px 0px black;

    margin-bottom:0px;
}

.UU{
    width: 100%;
    height: 600px;
    background: url(img/KendrickLamarUU.jpg) center center no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    position: relative;
        top: 10%;

}

    .UUText{
     width: 63%;
    height: auto;
    padding: 50px;
    border-radius: 180px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 30%;
    position: center; 
background-color: #061c3f;
opacity: .9;
    left: 2%;
    filter: brightness(100%) !important;
}

#DAMNBlock{
    width: 100%;
    height:800px;
    position:relative;
    margin-top:-21px;
    margin-left: 0px;
    margin-bottom:0px; 
    background: url('img/woman.jpg') center center no-repeat;
    background-size:cover;
    box-shadow: inset -5px 4px 19px 0px black;
}
#fourthbox{
    width: 100%;
    height:800px;
    position:relative;
    margin-top:-21px;
    margin-left: 0px;
    margin-bottom:0px; 
           background-color:blue;
               box-shadow:inset -5px 4px 19px 0px black;
                background: url('img/womenwork.jpg') center center no-repeat;
    background-size:cover;


}

#fifthbox{
    width: 100%;
    height:800px;
    position:relative;
    margin-top:-21px;
    margin-left: 0px;
    margin-bottom:0px; 
        background: url('img/man.jpg') center center no-repeat;
    background-size:cover;
               box-shadow:inset -5px 4px 19px 0px black;


}
.DAMNBACKGROUND{
    width: 100%;
    height: 600px;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    position: relative;
    top:10%;

}



    .DAMNTEXTBlock{
     width: 63%;
    height: auto;
    padding: 50px;
    border-radius: 180px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 30%;
    position: center; 
    right: 29%;
    filter: brightness(100%) !important;
        font-family: 'Dosis', sans-serif;
        background-color: #093871;
        opacity: .9;


}

    #DAMNTEXTBlock1{
     width: 63%;
    height: auto;
    padding: 50px;
    border-radius: 180px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 30%;
    position: center; 
    background-color: #061c3f;
    opacity: .9;
    left: 2%;
    filter: brightness(100%) !important;
        font-family: 'Dosis', sans-serif;

}


.DAMNALBUM{
    position: center;
    text-align: center;
    font-size: 45px;
    color: #716d67;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
letter-spacing: 0.1em;
    font-weight: 900;

}

 #fourthheader {
   
    position: center;
    text-align: center;
    font-size: 45px;
    color: white;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
letter-spacing: 0.1em;

}

 #fifthheader {
    position: center;
    text-align: center; 
    font-size: 45px;
    color: white;
font-family: 'Montserrat', sans-serif;
text-transform: uppercase;
letter-spacing: 0.1em;
}



#salesforcecloud{
      width: 77%;
  margin: 0 auto;
  text-align: center;
align-items: center;
transform: translatey(0px);
animation: float 6s ease-in-out infinite;
position: relative;
}
#cloud{
height: 574px;

}
#textincloud{
  margin: -250px;  
  color: #093871;
  font-family: 'Allerta', serif;
  font-size: 66px;
}
#particle {
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1; 
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    25% {
        transform: translatey(-40px);
    }

    50%{
        transform: translatey(0px);
    }
    75%{
        transform: translatey(40px);
    }
    100% {
        transform: translatey(0px);
    }
}



#Moveright{
    width: 6%;
    height:100%;
    float: right;
    margin: -125px 24px 120px 0px;

}
.vectorimg{
height:140px;
}
.vectorimgport{
    height:500px;
    float:right;
        margin: -280px 24px 120px 0px;
}
#vectorimgport2{
    height:500px;
    float:right;
        margin: 350px 624px 120px 0px;
}
#vectorimgport3{
    height:500px;
    float:right;
        margin: 150px 24px 120px 0px;
}
#vectorimgport4{
    height:500px;
    float:right;
        margin: 350px 624px 120px 0px;
}
#vectorimgport5{
    height:319px;
    position: absolute;
    float:right;
        margin: 350px 624px 120px 1000px;
}



.vectorimg:hover
{

left: 50%;
    margin: 0 auto;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(2);
    transition: all 200ms ease-in;
    transform: scale(2);
}

#holder{
    width: 1000px;
    height: -200px;
}

#jobholder{
    width: 20%;
    height:100px;
    position: absolute;
    margin: 423px 20px 20px 429px;
    text-align: center;
    opacity: 0 ;
    color: #093871;
    font-size: 40px;
    font-weight:900;  
    text-shadow: -1px 0 white,0 1px white,1px 0 white,0 -1px white;




}

.fadein{
    opacity: 1 !important;
}
