body{
    background-color:black;
}
/*d22b2b for red alt text*/
.KendrickHeaderText{
    color: white;
    font-family: 'Lobster', cursive;
    font-size:58px;
    height: 63px;
    font-weight: bold;
    padding: 4.5px;
    float: left;
    display:block;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;

    margin-left:22px;
}

header{

margin:0px;
height:100px;
width:100%;
background-color:#272727;
margin-bottom:-21px;'
margin-left:0px;
margin-right:-25px;
}

#Navigation a{
    color: #d22b2b;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 28px;
    text-transform: uppercase;
    display: inline-block;
    width: 100px;
    border-radius: 3px;
    transition: all 0.3s ease;
}


#Navigation  {

    float: right;
    display: inline-block;
    padding: 35px 30px 30px 30px;
    text-align: center;
    position: relative;

}
#Navigation {
    float: right;
    display: inline-block;
    padding: 35px 30px 30px 30px;
    text-align: center;
    position: relative;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: underline;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    background-color:black;
}

a:active {
    text-decoration: none;
}

.FirstPage{
    width: 100%;
    height: 600px;
    background: url(img/KendrickHeader.jpg) center center no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    position: relative;
}
   .FirstPage {
    filter: brightness(50%);
}
    .FirstPage:hover{
        filter: brightness(100%);
    }


.FirstBox {
    width: 33%;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    margin: 0px 0px 0px 60px;
    top: 20%;
    opacity:.3;
 }
.SecondBox {
    width: 33%;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    margin: 0px 0px 0px 730px;
    top: 20%;
    opacity:.3;
 }

 .SecondBox:hover {
    opacity: .8;

 }


 .FirstBox:hover {
    opacity: .8;

 }

.ShopTPAB {
    width: 100%;
    height: 600px;
    background-color:black;
    position: relative;
}

.TPAB{
    width: 100%;
    height: 600px;
    background: url(img/LamarTPAB.jpg) center center no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    position: relative;
}
   .TPAB {
    filter: brightness(50%);
}
.TPAB:hover{
        filter: brightness(100%);
    }
.TPABButton{
    border-radius: 3px;
    width: 150px;
    border: 3px solid white;
    display: inline-block;
    text-align: center;
    text-decoration: 
    color:black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin:0px 0px 0px 130px;
}
.TPABButton:hover{
background-color: #d22b2b
}
.TPABButton:visited {
    color:black;
}
.TPABButton:active {
    text-decoration: none;
}


.TPABTEXT{
    width: 33%;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 20%;
    opacity:.3;
    position: center;    
}


.TPABTEXT:hover{
    opacity:.8; 
}

.ShopUU {
    width: 100%;
    height: 600px;
    background-color:black;
    position: relative;
    margin-top:-21px; 
    margin-bottom:0px;
}

.UU{
    width: 100%;
    height: 600px;
    background: url(img/KendrickLamarUU.jpg) center center no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    position: relative;
}
   .UU {
    filter: brightness(50%);
}
.UU:hover {
        filter: brightness(100%);
    }

    .UUText{
    width: 33%;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 20%;
    opacity:.3;
    position: center;    
}
.UUButton{
    border-radius: 3px;
    width: 150px;
    border: 3px solid white;
    display: inline-block;
    text-align: center;
    text-decoration: 
    color:black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin:0px 0px 0px 130px;
}
.UUButton:hover{
background-color: #d22b2b
}
.UUButton:visited {
    color:black;
}
.UUButton:active {
    text-decoration: none;
}


.UUText:hover{
    opacity:.8; 
}

.DAMNBlock{
    width: 100%;
    height:600px;
   background-color:black;
    position:relative;
    margin-top:-21px;
    margin-left: 0px;
    margin-bottom:0px; 
}
.DAMNBACKGROUND{
    width: 100%;
    height: 600px;
    background: url(img/KendrickLamarDAMNN.jpg) center center no-repeat;
    background-size: cover;
    margin: 0px 0px 0px 0px;
    position: relative;
}
   .DAMNBACKGROUND{
    filter: brightness(50%);
}
.DAMNBACKGROUND:hover{
    filter: brightness(100%);
    }

    .DAMNTEXTBlock{
    width: 33%;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 3px;
    position: absolute;
    margin: 0px 0px 0px 400px;
    top: 20%;
    opacity:.3;
    position: center;    
}
.DAMNButton{
    border-radius: 3px;
    width: 150px;
    border: 3px solid white;
    display: inline-block;
    text-align: center;
    text-decoration: 
    color:black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin:0px 0px 0px 130px;
}
.DAMNButton:hover{
background-color: #d22b2b
}
.DAMNButton:visited {
    color:black;
}
.DAMNButton:active {
    text-decoration: none;
}


.DAMNTEXTBlock:hover{
    opacity:.8; 
}

.DAMNALBUM{
    position: center;
    margin-left:104px;
}

.HeaderMerch{
    background-color:#272727;
    width:100%;
    height:100px;
    margin:-21px 0px 0px 0px; 
    border-radius:3px;
}
.MerchHeader{
    padding:23px;
    position:center;
    margin:0px 0px 0px 500px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size:60px;
    color:white;
    float:center;
}

.MerchBox{
    background-color:black;
    width:100%;
    height:600px;
    margin:0px 0px 0px 0px;

}


   .Beanie:hover{
        filter: brightness(50%);
        opacity: .5;
        background-color:black;
    }

      .Pants:hover{
        filter: brightness(50%);
        opacity: .5;
        background-color:black;
    }

      .BlankT:hover{
        filter: brightness(50%);
        opacity: .5;
        background-color:black;
    }

      .Hat:hover{
        filter: brightness(50%);
        opacity: .5;
        background-color:black;
    }

      .Poster:hover{
        filter: brightness(50%);
        opacity: .5;
        background-color:black;
    }
      .Shoe:hover{
        filter: brightness(50%);
        opacity: .5;
        background-color:black;
    }

    .NewsHeader{
    background-color:#272727;
    width:100%;
    height:100px;
    margin:-21px 0px 0px 0px; 
    border-radius:3px;
}

.NewsText{
    padding:23px;
    position:center;
    margin:0px 0px 0px 600px;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    font-size:60px;
    color:white;
    float:center;
}

.NewsBox{
    width: 100%;
    height: 600px;
    background-color:black;
    margin:0px 0px 0px 0px;
    border-radius:3px
}

.DAMNTourText{
    height:300px; 
    width:440px;
    margin:0px 0px 0px 0px;
    color:white;
    height: auto;
    background-color: #272727;
    border-radius: 3px;
    position: absolute;
    position: center;    
    font-weight: lighter;
    text-transform: 
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}


.PRICEDAMNText{
    height:300px; 
    width:440px;
    margin:0px 0px 0px 444px;
    color:white;
    height: auto;
    background-color: #272727;
    border-radius: 3px;
    position: absolute;
    position: center;   
    font-weight: lighter;
    text-transform: 
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px; 
}

.KendrickPlatText{
    height:300px; 
    width:440px;
    margin: 0px 0px 0px 889px;
    color:white;
    height:auto;
    background-color: #272727;
    border-radius: 3px;
    position: absolute;
    position: center;    
    font-weight: lighter;
    text-transform: 
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 2px;
}

.Button1{
    border-radius: 3px;
    width: 150px;
    border: 3px solid white;
    display: inline-block;
    text-align: center;
    text-decoration: 
    color:black;
    font-size: 20px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.4);
    position: relative;
    margin:0px 0px 0px 130px;
}
.Button1:hover{
background-color: #d22b2b
}
.Button1:visited {
    color:black;
}
.:active {
    text-decoration: none;
}

.footer{
    background-color: black;
    width: 100%;
    height: 50px;
}
.footerText{
    color:white;
}
.footerLink{
    color:white;
}
.footerLink:link {
    text-decoration: none;
}

.footerLink:visited {
    color:white;
}


.footerLink: active {
    color:white;
}