
body{

	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(47,46,55,1) 100%, rgba(0,212,255,1) 100%);
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
  	height: 100%;
}


.jumbotron{

	color: white;
	background-color: transparent;
	margin: 25%;
	height: 50%;
	width: 50%;
}

.container{
	}


.row{
}

#headertxt{
	    font-family: 'Hina Mincho', serif;
	    animation: pulse 2s linear  reverse infinite;
}


@keyframes pulse {
	33% {
		opacity: 0.4;
	}
	33% {
		opacity: 0.5;
	}
	33% {
		opacity: 0.6;

}